@charset "utf-8";

* {-webkit-tap-highlight-color: rgba(0, 0, 0, 0)}

html, body, div,
h1, h2, h3, h4, h5, h6, p,
a, strong,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, input, select,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside,
button,
pre {font-family:'Noto Sans KR','돋움','Nanum Barun Gothic',Dotum, Arial, Helvetica, AppleGothic, sans-serif}

/* reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   list-style: none;
   vertical-align: baseline;
   font-weight:normal
}
body {
color:#333;
font-size:14px;
}

h1, h2, h3, h4, h5 {font-weight:normal}
p {line-height:1.6em}
a {text-decoration:none}
em,address,i {font-style:normal}

img,fieldset {border:0}
img {vertical-align:middle}
button {padding:0;border:none;background:none;cursor:pointer;outline:none}
label {cursor:pointer}

table{border-collapse:collapse}
table th,table td{vertical-align:middle;text-align:center}
table caption {display:none}

/* input */
input {
   width:auto;
   height:auto;
   padding:0;
   border:none;
   background:none
}

.checkbox {
   position:relative;
   display:inline-block
}
.checkbox input[type="checkbox"] {
   -webkit-appearance:none;
   position: absolute;
   width:18px;
   height:18px;
   margin:0;
   top:0;
   left:0;
   outline:0
}
.checkbox input[type="checkbox"] + label {
   position:relative;
   display:block;
   padding-left:25px;
   line-height:18px;
   font-weight:normal !important
}
.checkbox input[type="checkbox"] + label:before {
   content:'';
   position:absolute;
   top:0;
   left:0;
   width:18px;
   height:18px;
   text-align:center;
   background:transparent;
   border:1px solid #ddd;
   border-radius:3px;
   box-sizing:border-box
}
.checkbox input[type="checkbox"]:checked + label:before {
   border:none;
   background:#363f4e !important;
}
.checkbox input[type="checkbox"]:checked + label:after {
   content:'✔';
   position:absolute;
   top:0;
   left:0;
   width:18px;
   height:18px;
   font-size:12px;
   line-height:18px;
   text-align:center;
   color:#fff;
}
